<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CaveTube.CaveTalk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="CaveTalkContext" connectionString="Data Source=|DataDirectory|CaveTalkDb.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <appSettings>
    <add key="dev_key" value="C9A8B58F00CB4E88A8C884CD9C19B868" />
    <add key="web_server" value="http://gae.cavelis.net" />
    <add key="comment_server" value="http://ws.cavelis.net:3000/socket.io/1/" />
    <add key="version_check_url" value="http://madguy.github.com/CaveTalk/version.txt" />
  </appSettings>
  <userSettings>
    <CaveTube.CaveTalk.Properties.Settings>
      <setting name="ApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="UserId" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="NotifyState" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReadingApplication" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SofTalkPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CommentPopup" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CommentPopupTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NotifyPopupTime" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="NotifySoundFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReadNum" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReadName" serializeAs="String">
        <value>False</value>
      </setting>
    </CaveTube.CaveTalk.Properties.Settings>
  </userSettings>
</configuration>