<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!--<remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />-->
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <contexts>
      <context type="CaveTube.CaveTalk.Model.CaveTalkContext, CaveTalk">
        <databaseInitializer type="CaveTube.CaveTalk.Model.CaveTalkInitializer, CaveTalk" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <!--<parameter value="System.Data.SQLite" />-->
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="CaveTalkContext" connectionString="Data Source=|DataDirectory|CaveTalkDb.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <!--<add name="CaveTalkContext" connectionString="Data Source=.\CaveTalkDb.sqlite" providerName="System.Data.SQLite" />-->
  </connectionStrings>
  <appSettings>
    <add key="dev_key" value="C9A8B58F00CB4E88A8C884CD9C19B868" />
    <add key="web_server" value="http://gae.cavelis.net" />
    <add key="comment_server" value="http://ws.cavelis.net:3000" />
    <add key="version_check_url" value="http://madguy.github.com/CaveTalk/version.txt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>