<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="web_server" value="http://gae.vmhost:8888" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="comment_server" value="http://ws.vmhost:3000" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="preview_server" value="http://vmhost:3001" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="dev_key" value="E8C003D0C419406A93C48EB95834770B" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="version_check_url" value="http://madguy.github.com/CaveTalk/debug.txt" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="version" value="2015/02/27" />
	</appSettings>
</configuration>
