<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="web_server" value="http://localhost:8888" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="comment_server" value="http://vmhost:3000/socket.io/1/" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="dev_key" value="80D6838CE8494294A9AF1EC6A2CB012B" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="version_check_url" value="http://madguy.github.com/CaveTalk/debug.txt" />
	</appSettings>
</configuration>
