/bin
/CaveTalk/bin
/CaveTalk/obj
/CaveTalk.Test/bin
/CaveTalk.Test/obj
/CaveTubeClient/bin
/CaveTubeClient/obj
/CaveTubeClient.Test/bin
/CaveTubeClient.Test/obj
/SocketIO/bin
/SocketIO/obj
/TestResults
/packages
!/packages/repositories.config
